@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy w BeFitApp!</h1>
    <div class="text-center">
        <img src="~/images/logo.png" alt="Logo BeFitApp" style="max-width: 200px; margin-bottom: 20px;" />
    </div>

    <p class="lead">
        BeFitApp to aplikacja, która pozwala Ci zarządzać swoimi sesjami treningowymi, typami ćwiczeń oraz statystykami postępów.
    </p>
    <p>Rozpocznij nową sesję treningową, śledź swoje wyniki i rozwijaj formę 💪</p>
</div>

