@{
    ViewData["Title"] = "Polityka prywatności";
}

<h1>Polityka prywatności</h1>

<p>
    Twoja prywatność jest dla nas bardzo ważna. Niniejsza aplikacja BeFitApp przechowuje jedynie dane niezbędne do działania systemu,
    takie jak: dane logowania, zapisane sesje treningowe oraz wykonane ćwiczenia.
</p>

<p>
    Żadne dane użytkowników nie są udostępniane osobom trzecim. Wszystkie informacje są przechowywane lokalnie na serwerze aplikacji.
</p>

<p>
    Korzystając z aplikacji, akceptujesz sposób przetwarzania danych przedstawiony powyżej.
    Jeśli masz pytania, skontaktuj się z administratorem systemu.
</p>

